/* ========================= */
/* MANIFESTO SECTION */
/* ========================= */

.manifesto-section {
  align-items: center;
  display: flex;
  padding: var(--section-padding-block) 5%;

}

.manifesto-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}


/* ========================= */
/* TEXTO */
/* ========================= */

.text-side {
  display: flex;
  padding: 4rem 0;
}

.manifesto-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Label */

.section-label {
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-accent);
}

/* Title */

.title {
  color: #ffffff;
}

/* Lead */

.lead {
  color: #ffc7c7;
}

/* Info */

.info-block p {
  color: #a0a3b1;
}

/* Closing */

.closing {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
}

.divider {
  width: 40px;
  height: 1px;
  background: rgba(255,255,255,0.2);
}

.strong {
}

/* ========================= */
/* CODE BLOCK */
/* ========================= */

.code-window {
  width: 100%;
  background: #151823;
  border-radius: var(--border-radius);
  border: 1px solid rgba(255,255,255,0.06);
  box-shadow: 0 30px 60px rgba(0,0,0,0.6);
  overflow: hidden;
}


.code-header {
  display: flex;
  gap: 8px;
  background: #1b1f2b;
  padding: 1rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

pre {
  font-family: 'Fira Code', monospace;
  font-size: clamp( 0.6rem, 0.8vw, 0.8rem);
  line-height: 1.8;
  color: #cdd6f4;
  padding: 1rem 2rem;

  /* CORREÇÃO DEFINITIVA */
  overflow-x: auto;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}

/* ========================= */
/* RESPONSIVO */
/* ========================= */

@media (max-width: 1024px) {

  .manifesto-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .manifesto-content {
    text-align: center;
    gap: 2rem;
  }

  .closing {
    justify-content: center;
  }

}